/build/.cmake
/build/CMakeFiles
/build/x64/Debug
/build/MeuProjetoCPP.dir
/build
/.idea
/csv/csv
*.pdb
*.exe
/thirdparty
/bin/Debug
/bin/Release
bin/main
bin/starry_night.png
bin/teste.png
cmake_install.cmake
CMakeCache.txt
/CMakeFiles
Makefile
/.vscode
